#siteReady {
  h2 {
    font-family: 'FiraGO';
    font-weight: 700;
    line-height: 78px;
    color: #63bdc6;
    text-align: center;

    span {
      font-size: 115px;
      margin-left: 45px;
    }
  }
  img {
    margin-top: 40px;
  }
}
