@font-face {
  font-family: "Halvetica";
  src: local("Halvetica"),
    url("./Helvetica\ Neue\ LT\ GEO\ 25\ UltLt.ttf") format("woff"),
    url("./Helvetica\ Neue\ LT\ GEO\ 25\ UltLt.ttf") format("woff2");
  font-weight: 200;
}
@font-face {
  font-family: "Halvetica";
  src: local("Halvetica"),
    url("./Helvetica\ Neue\ LT\ GEO\ 35\ Thin.ttf") format("woff"),
    url("./Helvetica\ Neue\ LT\ GEO\ 35\ Thin.ttf") format("woff2");
  font-weight: 100;
}
@font-face {
  font-family: "Halvetica";
  src: local("Halvetica"),
    url("./Helvetica\ Neue\ LT\ GEO\ 45\ Light.ttf") format("woff"),
    url("./Helvetica\ Neue\ LT\ GEO\ 45\ Light.ttf") format("woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Halvetica";
  src: local("Halvetica"),
    url("./Helvetica\ Neue\ LT\ GEO\ 65\ Medium.ttf") format("woff"),
    url("./Helvetica\ Neue\ LT\ GEO\ 65\ Medium.ttf") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Halvetica";
  src: local("Halvetica"),
    url("./Helvetica\ Neue\ LT\ GEO\ 85\ Heavy.ttf") format("woff"),
    url("./Helvetica\ Neue\ LT\ GEO\ 85\ Heavy.ttf") format("woff2");
  font-weight: 800;
}
@font-face {
  font-family: "Halvetica";
  src: local("Halvetica"),
    url("./Helvetica\ Neue\ LT\ GEO\ 95\ Black.ttf") format("woff"),
    url("./Helvetica\ Neue\ LT\ GEO\ 95\ Black.ttf") format("woff2");
  font-weight: 900;
}
