#header {
  background-color: #62718e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;

  a {
    cursor: pointer;

    img {
      width: 170px;
      height: 46px;
      @media screen and (max-width: 1060px) {
        width: 120px;
        height: auto;
      }
    }
  }

  select {
    width: 55px;
    height: 20px;
    outline: 0px;
    border: 0;
    background: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    line-height: 21px;

    option {
      background-color: #49365d;
    }
  }
  .loginControl {
    display: flex;
    align-items: center;

    a,
    button {
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      line-height: 20px;
      padding: 20px;
      border: none;
      outline: none;
      background-color: #ffffff;
      border-radius: 12px;
      color: #62718e;
      text-decoration: none;
    }

    .logbtn {
      background-color: transparent;
      color: #63bdc6;
      margin-right: 40px;
      padding: 0;
      @media screen and (max-width: 1060px) {
        margin-right: 20px;
      }
    }
  }
}
