#mainpage {
  background-color: #552f7c;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 999px) {
    align-items: center;
  }

  .section-1 {
    position: relative;
    width: 100%;

    .leftContent {
      display: flex;
      flex-direction: column;
      margin-right: 250px;
      z-index: 3;
      @media screen and (max-width: 999px) {
        margin-bottom: 50px;
        text-align: center;
        margin-right: 0;
        align-items: center;
      }
      span {
        font-weight: bold;
        line-height: 59px;
        font-size: 49px;
        color: #06c97e;
        display: flex;
        flex-direction: column;

        span {
          color: #ffffff;
        }
      }
      p {
        color: #ffffff;
        font-size: 18px;
        line-height: 22px;
        max-width: 90%;
        margin: 44px 0;
      }
      a {
        background-color: #06c97e;
        border: none;
        outline: none;
        border-radius: 12px;
        color: #ffffff;
        padding: 20px;
        max-width: 268px;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        text-decoration: none;

        &:hover {
          background-color: #0de18f;
        }
      }
    }
    .list {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: 20px;
        font-size: 20px;
        color: #ffffff;
        line-height: 24px;
        display: flex;
        align-items: center;
        border: 1px solid #ffffff;
        padding: 23px 20px 23px 20px;
        border-radius: 12px;
        background-color: rgba(185, 40, 245, 0.3);
        backdrop-filter: blur(30px) brightness(115%);
        z-index: 2;
        max-width: 250px;

        &::before {
          content: url(../../assets/svg/check.svg);
          background-color: #06c97e;
          padding: 10px;
          border-radius: 50%;
          margin-right: 12px;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    img {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
  }
  .section-2 {
    background-color: #f5f3f6;
    width: 100%;
    .leftContent {
      width: 50%;

      @media screen and (max-width: 999px) {
        width: 100%;
      }
      h2 {
        font-size: 50px;
        font-weight: bold;
        max-width: 90%;
        line-height: 59px;
        color: #06c97e;
        margin-bottom: 45px;
      }
      p {
        max-width: 460px;
        color: #4b4b4b;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
    }
    .img-wrapper {
      display: flex;
      width: 50%;

      @media screen and (max-width: 999px) {
        flex-direction: column;
        width: 100%;
      }

      img {
        width: 100%;
        &:nth-child(1) {
          @media screen and (max-width: 999px) {
            margin-bottom: 20px;
            margin-top: 20px;
            width: 100%;
          }
        }
        @media screen and (max-width: 999px) {
          width: 100%;
        }
      }
    }
  }
  .section-3 {
    background-color: #ffffff;
    width: 100%;
    .leftContent {
      h2 {
        font-size: 50px;
        font-weight: bold;
        line-height: 59px;
        color: #552f7c;
        margin-bottom: 45px;
      }
      p {
        max-width: 460px;
        color: #4b4b4b;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
    }
    .img-wrapper {
      display: flex;
      justify-content: end;

      img {
        width: 100%;

        @media screen and (max-width: 999px) {
          width: 100%;
          margin-top: 20px;
        }
      }
    }
  }
  .section-4 {
    background-color: #f5f3f6;
    width: 100%;
    .leftContent {
      h2 {
        font-size: 50px;
        font-weight: bold;
        max-width: 520px;
        line-height: 59px;
        color: #8910c5;
        margin-bottom: 45px;
      }
      p {
        max-width: 80%;
        color: #4b4b4b;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
    }
    .img-wrapper {
      display: flex;
      justify-content: end;

      img {
        width: 80%;

        @media screen and (max-width: 999px) {
          margin-top: 20px;
          width: 100%;
        }
      }
    }
  }
  .section-5 {
    background-color: #552f7c;
    width: 100%;
    .leftContent {
      display: flex;
      flex-direction: column;

      form {
        width: 100%;
        display: flex;
        flex-direction: column;

        input {
          max-width: 90%;
          outline: none;
          border: none;
          padding: 20px;
          border-radius: 12px;
          color: #c8c8c8;
          margin-top: 20px;
          margin-bottom: 10px;
        }
        button {
          background-color: #06c97e;
          border: none;
          outline: none;
          border-radius: 12px;
          color: #ffffff;
          padding: 20px;
          max-width: 268px;
          cursor: pointer;
          font-weight: 500;
          font-size: 16px;
          text-align: center;
          text-decoration: none;
          max-width: 40%;
          margin-top: 10px;

          &:hover {
            background-color: #0de18f;
          }
        }
        .thanks {
          padding: 20px;
          border-radius: 12px;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
        }
      }
      h2 {
        font-size: 50px;
        font-weight: bold;
        max-width: 530px;
        line-height: 59px;
        color: #ffffff;
        margin-bottom: 45px;
      }
      p {
        max-width: 80%;
        color: #ffffff;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
    }
    .img-wrapper {
      display: flex;

      @media screen and (max-width: 999px) {
        flex-direction: column;
      }

      img {
        width: 100%;
      }
    }
  }
  .container {
    padding: 160px 200px 150px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1600px) {
      padding: 200px 50px;
    }
    @media screen and (max-width: 999px) {
      flex-direction: column;
    }
  }
}
