.remmember-password {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    color: #4b4b4b;
  }

  a {
    font-weight: bold;
    font-size: 12px;
    color: #552f7c;
    text-decoration: underline;
  }
}
