#edit {
  padding: 100px 50px 90px;

  .titleControl {
    &::after {
      content: '';
      border-top: 1px solid #f5f3f6;
      width: 100%;
      display: block;
      padding: 40px 0;
      margin-top: 40px;
    }

    h2 {
      color: #4b4b4b;
      font-size: 32px;
      font-weight: bold;
    }

    .form {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      .saveButton {
        width: 100%;
        max-width: 460px;
      }
      .buttons {
        display: flex;
        width: 100%;
        justify-content: end;
        button {
          &:nth-child(1) {
            background-color: #4b4b4b;
            max-width: 170px;
            margin-right: 20px;
          }
          &:nth-child(2) {
            background-color: #06c97e;
            max-width: 270px;
          }
        }
      }
    }
  }
  .editForm {
    form {
      display: grid;
      grid-template-columns: 1fr 3fr;
      .imgForm {
        .uploadedImg {
          border: 1px solid #c8c8c8;
          border-bottom: none;
          border-radius: 12px 12px 0 0;
          padding: 20px;
          .imgUpload {
            &::after {
              content: '';
              border-bottom: 1px solid #f5f3f6;
              width: 100%;
              display: block;
              margin-top: 10px;
              margin-bottom: 20px;
            }
          }

          .imgBox {
            display: flex;
            flex-direction: column;

            span {
              margin-bottom: 10px;
            }
            img {
              margin-bottom: 20px;
            }
          }
        }
        .generImg {
          background-color: #552f7c;
          padding-top: 20px;
          padding-bottom: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          border-radius: 0 0 12px 12px;

          span {
            color: #ffffff;
            align-self: start;
            margin-bottom: 10px;
            padding: 0 20px;
          }

          button {
            max-width: 150px;
            background-color: #f5f3f6;
            border-radius: 12px;
            padding: 15px;
            outline: none;
            border: none;
            cursor: pointer;
            font-weight: 500;
          }
          img {
            margin-bottom: 20px;
          }
        }
      }

      .textGenerate {
        margin-left: 20px;

        .checkboxWrapper {
          margin-top: 10px;
          display: grid;
          grid-template-columns: repeat(4, 2fr);
          gap: 20px;

          .label {
            background-color: #f5f3f6;
            padding: 14px;
            border-radius: 12px;
          }
        }

        .keyword {
          margin-top: 30px;

          h2 {
            margin-bottom: 11px;
            font-size: 18px;
          }

          .keywordInput {
            display: flex;
            input {
              background-color: #f5f3f6;
              padding: 20px;
              border: none;
              display: flex;
              align-items: center;
              outline: none;
              font-size: 16px;
              float: left;
              width: 80%;
              border-radius: 12px 0 0 12px;
              cursor: pointer;
            }
            button {
              float: left;
              width: 20%;
              cursor: pointer;
              border: none;
              outline: none;
              border-radius: 0 12px 12px 0;
              background-color: #06c97e;
              padding: 20px 0;
            }

            &::after {
              content: '';
              clear: both;
            }
          }
        }
        .regentext {
          margin-top: 40px;
          .textView {
            border: 1px solid #c8c8c8;
            padding: 20px;
            border-radius: 12px;
            margin-top: 10px;

            .buttons {
              display: flex;
              justify-content: end;
              margin-top: 30px;
              button {
                background-color: #f5f3f6;
                color: #4b4b4b;
                max-width: 150px;

                &:nth-child(2) {
                  margin: 0 20px;
                }
              }
            }
          }
        }
        .regenphototext {
          margin-top: 40px;
          .textView {
            border: 1px solid #c8c8c8;
            padding: 20px;
            border-radius: 12px;
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .buttons {
              display: flex;
              button {
                background-color: #f5f3f6;
                color: #4b4b4b;
                max-width: 150px;

                &:nth-child(2) {
                  margin: 0 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  .btn {
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: #ffffff;
    border-radius: 12px;
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 20px;
  }
}
