@font-face {
  font-family: 'Halvetica';
  src: url(../assets/fonts/helvetica-ultLt.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Halvetica';
  src: url(../assets/fonts/helvetica-thin.ttf) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Halvetica';
  src: url(../assets/fonts/helvetica-light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Halvetica';
  src: url(../assets/fonts/helvetica-medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Halvetica';
  src: url(../assets/fonts/helvetica-heavy.ttf) format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: 'Halvetica';
  src: url(../assets/fonts/helvetica-black.ttf) format('truetype');
  font-weight: 900;
}
