#formLayout {
  background-color: #fafafc;
  padding: 47px 55px 72px 43px;
  border-radius: 12px;

  h2 {
    font-family: "FirGO";
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    color: #552f7c;
    padding-bottom: 20px;
    border-bottom: 1px solid #eeecf1;
  }

  form {
    .MuiFormControl-root {
      margin: 20px 0;

      &:nth-child(2) {
        margin-bottom: 10px;
      }
    }
    .MuiInputBase-root {
      border-radius: 8px;
    }

    .submit-button {
      background-color: #552f7c;
      border-radius: 12px;
      padding: 15px 0;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
    .registration-btn {
      background-color: #eeecf1;
      border-radius: 12px;
      padding: 15px 0;
      color: #552f7c;
      font-size: 16px;
      font-family: "FiraGO";
      font-weight: bold;
      line-height: 21px;
      text-transform: capitalize;
    }
  }

  .other-registation {
    display: flex;
    flex-direction: column;
    align-items: center;
    ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      li {
        display: flex;
        color: #4b4b4b;
        margin-bottom: 20px;
        padding: 15px 0;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 12px;

        &:last-of-type {
          margin-bottom: 0px;
        }

        &:nth-child(1)::before {
          content: "";
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          display: flex;
          background-image: url("../../assets/logoGoogle.svg");
        }
        &:nth-child(2)::before {
          content: "";
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          display: flex;
          background-image: url("../../assets/logoFb.svg");
        }
        &:nth-child(3)::before {
          content: "";
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          display: flex;
          background-image: url("../../assets/logoApple.svg");
        }
      }
      a {
        font-family: "FiraGO";
        font-weight: 700;
        line-height: 21px;
        font-size: 16px;
        color: #4b4b4b;
        text-decoration: none;
        margin-left: 13px;
      }
    }
    .or {
      width: 100%;
      display: flex;
      align-items: center;

      &::after,
      &::before {
        content: "";
        display: flex;
        background-color: #eeecf1;
        width: 100%;
        height: 1px;
      }

      span {
        font-family: "FiraGO";
        font-weight: bold;
        margin: 30px 15px;
        color: #4b4b4b;
        font-size: 16px;
      }
    }
  }
  .remmember-password {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    .remmember-me {
      font-family: "FiraGO";
      font-weight: bold;
      line-height: 16px;
      font-size: 12px;
      color: #4b4b4b;
      margin-left: 13px;
    }

    a {
      font-family: "FiraGO";
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #552f7c;
    }

    .PrivateSwitchBase-root-5 {
      padding: 0;
    }
  }
}
