#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #49365d;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    text-align: center;
  }
  .icons {
    display: flex;
    i {
      color: #707070;
      font-size: 30px;
      margin-right: 37px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  .terms {
    display: flex;
    @media screen and (max-width: 800px) {
      margin-top: 30px;
    }
    @media screen and (max-width: 500px) {
      flex-direction: column;
    }
    ul {
      display: flex;

      li {
        margin-right: 30px;
        @media screen and (max-width: 800px) {
          margin-bottom: 10px;
        }
        a {
          font-family: "Helvetica";
          font-weight: 400;
          font-size: 18px;
          color: #707070;
          text-decoration: none;
          text-transform: capitalize;
        }
      }
    }
    span {
      font-family: "Helvetica";
      font-weight: 400;
      font-size: 18px;
      color: #707070;
      text-decoration: none;
    }
  }
}
