#policy {
  display: flex;
  flex-direction: column;
  background-color: #62718e;
  padding: 100px 50px;
  h2 {
    font-size: 49px;
    font-weight: bold;
    line-height: 59px;
    color: #63bdc6;
  }
  p {
    margin-top: 40px;
    max-width: 80%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 40px;
  }
}
