i.radio-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid #4b4b4b;
  border-radius: 50%;

  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: #63bdc6;
    border-radius: 50%;
    transition: 0.3s all;
  }

  &.active::after {
    width: 12px;
    height: 12px;
  }
}
